name: Release (step-by-step)

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release (leave empty for auto-increase)'
        required: false
        default: ''

jobs:
  prepare:
    name: Prepare correct version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version_increase.outputs.version }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Increase Version
        id: version_increase
        run: |
          chmod +x bin/version-get.sh
          chmod +x bin/version-increase-semver.sh
          echo "Current version:  $(./bin/version-get.sh)"

          VERSION_INCREASED=$(./bin/version-increase-semver.sh)
          VERSION_INPUT="${{ github.event.inputs.version }}"
          VERSION=${VERSION_INPUT:-$VERSION_INCREASED}
          
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "version=$VERSION" >> $GITHUB_OUTPUT

  build-java:
    name: Build Java Parts
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Set version
        run: |
          chmod +x bin/version-set.sh
          ./bin/version-set.sh ${{ needs.prepare.outputs.version }}

      - name: Build with Maven
        run: ./mvnw -DskipTests install

      - name: Upload JARs
        uses: actions/upload-artifact@v6
        with:
          name: fileserv-java-artifacts-${{ needs.prepare.outputs.version }}
          path: |
            **/target/classes
            **/target/*.jar
            !**/target/*-sources.jar
            !**/target/*-javadoc.jar

  build-java-shaded-jars:
    name: Build Java Parts as All-in-One JARs
    needs: [prepare, build-java]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Download Java Build artifacts
        uses: actions/download-artifact@v7
        with:
          name: fileserv-java-artifacts-${{ needs.prepare.outputs.version }}

      - name: Set version
        run: |
          chmod +x bin/version-set.sh
          ./bin/version-set.sh ${{ needs.prepare.outputs.version }}

      - name: Build with Maven
        run: ./mvnw -DskipTests -Pshaded-jar install

      - name: Upload JARs
        uses: actions/upload-artifact@v6
        with:
          name: fileserv-java-shaded-jars-${{ needs.prepare.outputs.version }}
          path: |
            **/target/*.jar
            !**/target/*-sources.jar
            !**/target/*-javadoc.jar

  build-native:
    name: Build Native Binaries
    needs: [prepare, build-java-shaded-jars]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'
          cache: 'maven'

      - name: Set version
        run: |
          chmod +x bin/version-set.sh
          ./bin/version-set.sh ${{ needs.prepare.outputs.version }}

      - name: Download Java Build artifacts
        uses: actions/download-artifact@v7
        with:
          name: fileserv-java-artifacts-${{ needs.prepare.outputs.version }}

      - name: Download Java Shaded Jars
        uses: actions/download-artifact@v7
        with:
          name: fileserv-java-shaded-jars-${{ needs.prepare.outputs.version }}

      - name: Build Native Binaries
        run: ./mvnw -DskipTests -Pnative install

      - name: Upload Native Binaries
        uses: actions/upload-artifact@v6
        with:
          name: fileserv-native-binaries-${{ needs.prepare.outputs.version }}
          path: |
            fileserv-app/fileserv-app/target/fileserv-app
            fileserv-auth-file/fileserv-auth-file-smbpasswd/target/fileserv-smbpasswd
            fileserv-test-generate-hierarchy/target/fileserv-test-generate-hierarchy
            fileserv-test-webdav/target/fileserv-test-webdav

  build-docker:
    name: Build Docker Containers
    needs: [prepare, build-java-shaded-jars]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Download Java Shaded Jars
        uses: actions/download-artifact@v7
        with:
          name: fileserv-java-shaded-jars-${{ needs.prepare.outputs.version }}

      - name: Build Docker Image
        run: |
          docker build -t fileserv .

  quick-tests-mvn:
    name: Run Quick Tests (mvn)
    needs: [prepare, build-java]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Download JARs
        uses: actions/download-artifact@v7
        with:
          name: fileserv-java-artifacts-${{ needs.prepare.outputs.version }}

      - name: Run Maven Tests
        run: ./mvnw test

  quick-tests-bash:
    name: Run Quick Tests (bash)
    needs: [prepare, build-java]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Download JARs
        uses: actions/download-artifact@v7
        with:
          name: fileserv-java-artifacts-${{ needs.prepare.outputs.version }}

      - name: Run Bash Test Scripts
        run: |
          chmod +x test/run-test-scripts.sh
          ./test/run-test-scripts.sh -q

  long-running-tests:
    name: Start Long-Running Tests asynchronously
    needs: [prepare, build-java-shaded-jars, build-docker]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Download JARs
        uses: actions/download-artifact@v7
        with:
          name: fileserv-java-shaded-jars-${{ needs.prepare.outputs.version }}

      - name: Run Full Test Setup
        run: |
          chmod +x test/run-full-test.sh
          # We need to make sure build.sh inside run-full-test.sh doesn't try to rebuild everything if possible
          ./test/run-full-test.sh -q --skipBuild

      - name: Check container logs on failure
        if: failure()
        run: |
          docker compose logs || docker-compose logs || true

  report-results:
    name: Report Build Results
    needs: [prepare, build-java, build-java-shaded-jars, build-native]
    runs-on: ubuntu-latest
    steps:
      - name: Download JARs
        uses: actions/download-artifact@v7
        with:
          name: fileserv-java-artifacts-${{ needs.prepare.outputs.version }}
          path: results/jars

      - name: Download Shaded JARs
        uses: actions/download-artifact@v7
        with:
          name: fileserv-java-shaded-jars-${{ needs.prepare.outputs.version }}
          path: results/shaded-jars

      - name: Download Native Binaries
        uses: actions/download-artifact@v7
        with:
          name: fileserv-native-binaries-${{ needs.prepare.outputs.version }}
          path: results/native

      - name: Report Results
        run: |
          echo "### Build Results" >> $GITHUB_STEP_SUMMARY
          echo "#### JARs" >> $GITHUB_STEP_SUMMARY
          find results/jars -name "*.jar" -type f | sort >> $GITHUB_STEP_SUMMARY
          echo "#### Shaded JARs" >> $GITHUB_STEP_SUMMARY
          find results/shaded-jars -name "*.jar" -type f | sort >> $GITHUB_STEP_SUMMARY
          echo "#### Native Binaries" >> $GITHUB_STEP_SUMMARY
          find results/native -type f | sort >> $GITHUB_STEP_SUMMARY

  release:
    name: Release
    needs: [prepare, build-java, build-java-shaded-jars, build-native, quick-tests-bash, quick-tests-mvn, report-results]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Download JARs
        uses: actions/download-artifact@v7
        with:
          name: fileserv-java-artifacts-${{ needs.prepare.outputs.version }}

      - name: Download Native Binaries
        uses: actions/download-artifact@v7
        with:
          name: fileserv-native-binaries-${{ needs.prepare.outputs.version }}
          path: ./native-binaries

      - name: Prepare Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          VERSION=${{ needs.prepare.outputs.version }}
          chmod +x bin/version-set.sh
          ./bin/version-set.sh $VERSION
          
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          
          git add "**/pom.xml" "pom.xml"
          git commit -m "chore: release version $VERSION"
          git tag -a "v$VERSION" -m "Version $VERSION"
          git push origin main
          git push origin "v$VERSION"
          
          # Move native binaries to expected locations for gh release
          mkdir -p fileserv-auth-file/fileserv-auth-file-smbpasswd/target/
          mkdir -p fileserv-test-generate-hierarchy/target/
          mkdir -p fileserv-test-webdav/target/
          
          cp ./native-binaries/fileserv-auth-file/fileserv-auth-file-smbpasswd/target/fileserv-smbpasswd fileserv-auth-file/fileserv-auth-file-smbpasswd/target/
          cp ./native-binaries/fileserv-test-generate-hierarchy/target/fileserv-test-generate-hierarchy fileserv-test-generate-hierarchy/target/
          cp ./native-binaries/fileserv-test-webdav/target/fileserv-test-webdav fileserv-test-webdav/target/
          
          gh release create "v$VERSION" \
            "fileserv-auth-file/fileserv-auth-file-smbpasswd/target/fileserv-smbpasswd" \
            "fileserv-test-generate-hierarchy/target/fileserv-test-generate-hierarchy" \
            "fileserv-test-webdav/target/fileserv-test-webdav" \
            --title "Version $VERSION" \
            --notes "Automated release of version $VERSION"

  post-release:
    name: Post Release
    needs: release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Bump new snapshot version
        id: version_bump
        run: |
          chmod +x bin/version-get.sh
          chmod +x bin/version-increase-semver.sh
          chmod +x bin/version-set-snapshot.sh
          echo "Current version:  $(./bin/version-get.sh)"

          VERSION_INCREASED=$(./bin/version-increase-semver.sh minor)
          echo "Next minor: $VERSION_INCREASED"
          ./bin/version-set-snapshot.sh $VERSION_INCREASED
          
      - name: Push new version
        id: version_push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add "**/pom.xml" "pom.xml"
          git commit -m "chore: Bump snapshot version $VERSION"
          git tag -a "v$VERSION" -m "Version $VERSION"
          git push origin main
          git push origin "v$VERSION"
