name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release (leave empty for auto-increase)'
        required: false
        default: ''

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Essential for git history and tags

      - name: Set up GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'
          cache: 'maven'
          
      - name: Increase Version
        id: version_increase
        run: |
          chmod +x bin/version-*.sh
          echo "Current version:  $(./bin/version-get.sh)

          VERSION_INCREASED=$(./bin/version-increase-semver.sh)
          VERSION_INPUT="${{ github.event.inputs.version }}"
          VERSION=${VERSION_INPUT:-$VERSION_INCREASED}
          echo "VERSION_INCREASED=$VERSION_INCREASED"
          echo "VERSION_INPUT=$VERSION_INPUT"  
          echo "VERSION=$VERSION"
          
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Log version
        id: log_version
        run: |
          echo "Version to build: ${env.VERSION}"

      - name: Build and Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          chmod +x bin/release.sh
          ./bin/release.sh ${{ env.VERSION }}

      - name: Log result
        id: log_result
        run: |
          find . -type d -name target -print0 | xargs -0 ls -al
